[submodule "leg_tracker"]
	path = leg_tracker
	url = https://github.com/GT-RAIL/leigh_leg_tracker.git
	branch = fetch
[submodule "people"]
	path = people
	url = https://github.com/GT-RAIL/wg-people.git
	branch = kinetic
