# Generic .travis.yml file for running continuous integration on Travis-CI for
# any ROS package.
#
# Available here:
#   - http://felixduvallet.github.io/ros-travis-integration
#   - https://github.com/felixduvallet/ros-travis-integration
#
# This installs ROS on a clean Travis-CI virtual machine, creates a ROS
# workspace, resolves all listed dependencies, and sets environment variables
# (setup.bash). Then, it compiles the entire ROS workspace (ensuring there are
# no compilation errors), and runs all the tests. If any of the compilation/test
# phases fail, the build is marked as a failure.
#
# We handle two types of package dependencies:
#   - packages (ros and otherwise) available through apt-get. These are installed
#     using rosdep, based on the information in the ROS package.xml.
#   - dependencies that must be checked out from source. These are handled by
#     'wstool', and should be listed in a file named dependencies.rosinstall.
#
# There are two variables you may want to change:
#   - ROS_DISTRO (default is indigo). Note that packages must be available for
#     ubuntu 14.04 trusty.
#   - ROSINSTALL_FILE (default is dependencies.rosinstall inside the repo
#     root). This should list all necessary repositories in wstool format (see
#     the ros wiki). If the file does not exists then nothing happens.
#
# See the README.md for more information.
#
# Author: Felix Duvallet <felixd@gmail.com>

# NOTE: The build lifecycle on Travis.ci is something like this:
#    before_install
#    install
#    before_script
#    script
#    after_success or after_failure
#    after_script
#    OPTIONAL before_deploy
#    OPTIONAL deploy
#    OPTIONAL after_deploy

################################################################################

# Use ubuntu trusty (14.04) with sudo privileges.
dist: bionic
sudo: required
services:
  - docker
cache:
  - apt

script:
  - echo "Preparing rail_object_detection_msgs"
  - cd /tmp && git clone https://github.com/GT-RAIL/rail_object_detection && cd rail_object_detection
  - git checkout ${TRAVIS_BRANCH} || echo "Building branch $(git symbolic-ref --short HEAD)"
  - mv /tmp/rail_object_detection/rail_object_detection_msgs ${TRAVIS_BUILD_DIR}/
  - echo "Running 64-bit test"
  - docker run -i --rm -v ${TRAVIS_BUILD_DIR}:/src -w /src ubuntu:bionic /bin/bash -c "/src/bin/travis_build.sh"
  - echo "Running 32-bit test"
  - docker run -i --rm -v ${TRAVIS_BUILD_DIR}:/src -w /src i386/ubuntu:bionic /bin/bash -c "/src/bin/travis_build.sh"
